@page "/03-Pocitani-se-zlomky/Samostatne-upravy"

<h3>Počítání se zlomky - samostatné úpravy</h3>

<h4 style="color:green;">Transformace zlomků</h4>

<ol>
	<li>Rozlož přirozené číslo na součin prvočísel</li>
	<li>Najdi NSD dvou přirozených čísel</li>
	<li>
		Najdi základní tvar zlomku
		<ol>
			<li>Pomocí součinu prvočísel</li>
			<li>Pomocí NSD</li>
		</ol>
	</li>
	<li>
		Najdi nsn dvou přirozených čísel
		<ol>
			<li>Pomocí součinu prvočísel</li>
			<li>Pomocí NSD</li>
		</ol>
	</li>
	<li>Rozšiř dva zlomky na nsn jejich jmenovatelů</li>
</ol>

<h4 style="color:green;">Aritmetika zlomků</h4>

<ol>
	<li>Sečti / odečti zlomky se stejným jmenovatelem</li>
	<li>Sečti / odečti zlomky se různým jmenovatelem</li>
	<li>Násobení</li>
	<li>Dělení</li>
</ol>

<h4 style="color:green;">Převod přirozených a reálných čísel na zlomky</h4>

<ol>
	<li>Přirozená na zlomky</li>
	<li>Reálná na zlomky</li>
</ol>