@page "/03-Pocitani-se-zlomky/Definice"

<h3>Počítání se zlomky - definice</h3>

<ol>
	<li>Zlomek</li>
	<li>Součin prvočísel</li>
	<li>NSD – největší společný dělitel</li>
	<li>Základní tvar zlomku</li>
	<li>nsn – nejmenší společný násobek</li>
	<li>Rozšíření 2 zlomků na stejný jmenovatel</li>
	<li>
		Aritmetika zlomků
		<ol type="a">
			<li>Sčítání a odčítání se stejným jmenovatelem</li>
			<li>Sčítání a odčítání s různým jmenovatelem</li>
			<li>Násobení</li>
			<li>Dělení</li>
		</ol>
	</li>
</ol>

<img src="mapa-znalosti-zlomky-definice.png" alt="Myslenkova mapa zlomku" class="mapOfKnowledge">

<style>
	.mapOfKnowledge {
		max-width: 600px;
	}
</style>

