@page "/03-Pocitani-se-zlomky/Resene-priklady-E"

	<div id="nadpis"><h1> Kuchařka řešení</h1><h2>Vypočítej a výsledek napiš jako zlomek v základním tvaru</h2></div><div class="table-container"><h2>Příklad číslo: 1</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.8 : <div class="frac"><span>14</span><span class="symbol">/</span><span class="bottom">15</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>14</span><span class="symbol">/</span><span class="bottom">15</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>15</span><span class="symbol">/</span><span class="bottom">14</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">14</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">14</span></div> − <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">14</span></div> = <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">14</span></div> = <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">7</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.8 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">14</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 2</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.6 : <div class="frac"><span>21</span><span class="symbol">/</span><span class="bottom">25</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>21</span><span class="symbol">/</span><span class="bottom">25</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>25</span><span class="symbol">/</span><span class="bottom">21</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>15</span><span class="symbol">/</span><span class="bottom">21</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> = <div class="frac"><span>15</span><span class="symbol">/</span><span class="bottom">21</span></div> − <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">21</span></div> = <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">21</span></div> = <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">7</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.6 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">7</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>15</span><span class="symbol">/</span><span class="bottom">21</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 3</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.4 : <div class="frac"><span>16</span><span class="symbol">/</span><span class="bottom">15</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>16</span><span class="symbol">/</span><span class="bottom">15</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>15</span><span class="symbol">/</span><span class="bottom">16</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>6</span><span class="symbol">/</span><span class="bottom">16</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>6</span><span class="symbol">/</span><span class="bottom">16</span></div> − <div class="frac"><span>20</span><span class="symbol">/</span><span class="bottom">16</span></div> = <div class="frac"><span>-14</span><span class="symbol">/</span><span class="bottom">16</span></div> = <div class="frac"><span>-7</span><span class="symbol">/</span><span class="bottom">8</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.4 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">4</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>6</span><span class="symbol">/</span><span class="bottom">16</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 4</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.4 : <div class="frac"><span>24</span><span class="symbol">/</span><span class="bottom">25</span></div> − <div class="frac"><span>7</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>24</span><span class="symbol">/</span><span class="bottom">25</span></div> − <div class="frac"><span>7</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>25</span><span class="symbol">/</span><span class="bottom">24</span></div> − <div class="frac"><span>7</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">24</span></div> − <div class="frac"><span>7</span><span class="symbol">/</span><span class="bottom">4</span></div> = <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">24</span></div> − <div class="frac"><span>42</span><span class="symbol">/</span><span class="bottom">24</span></div> = <div class="frac"><span>-32</span><span class="symbol">/</span><span class="bottom">24</span></div> = <div class="frac"><span>-4</span><span class="symbol">/</span><span class="bottom">3</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.4 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>7</span><span class="symbol">/</span><span class="bottom">4</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">24</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 5</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.75 : <div class="frac"><span>27</span><span class="symbol">/</span><span class="bottom">16</span></div> + <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">9</span></div> = <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">4</span></div> : <div class="frac"><span>27</span><span class="symbol">/</span><span class="bottom">16</span></div> + <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">9</span></div> = <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">4</span></div> ∙ <div class="frac"><span>16</span><span class="symbol">/</span><span class="bottom">27</span></div> + <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">9</span></div> = <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">27</span></div> + <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">9</span></div> = <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">27</span></div> + <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">27</span></div> = <div class="frac"><span>24</span><span class="symbol">/</span><span class="bottom">27</span></div> = <div class="frac"><span>8</span><span class="symbol">/</span><span class="bottom">9</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.75 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 4. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">9</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">27</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 6</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.6 : <div class="frac"><span>27</span><span class="symbol">/</span><span class="bottom">10</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>27</span><span class="symbol">/</span><span class="bottom">10</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">27</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>6</span><span class="symbol">/</span><span class="bottom">27</span></div> − <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>6</span><span class="symbol">/</span><span class="bottom">27</span></div> − <div class="frac"><span>9</span><span class="symbol">/</span><span class="bottom">27</span></div> = <div class="frac"><span>-3</span><span class="symbol">/</span><span class="bottom">27</span></div> = <div class="frac"><span>-1</span><span class="symbol">/</span><span class="bottom">9</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.6 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>6</span><span class="symbol">/</span><span class="bottom">27</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 7</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.4 : <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">25</span></div> + <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">25</span></div> + <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>25</span><span class="symbol">/</span><span class="bottom">12</span></div> + <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">12</span></div> + <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">12</span></div> + <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">12</span></div> = <div class="frac"><span>14</span><span class="symbol">/</span><span class="bottom">12</span></div> = <div class="frac"><span>7</span><span class="symbol">/</span><span class="bottom">6</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.4 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">3</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">12</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 8</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.8 : <div class="frac"><span>21</span><span class="symbol">/</span><span class="bottom">25</span></div> − <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>21</span><span class="symbol">/</span><span class="bottom">25</span></div> − <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>4</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>25</span><span class="symbol">/</span><span class="bottom">21</span></div> − <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>20</span><span class="symbol">/</span><span class="bottom">21</span></div> − <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>20</span><span class="symbol">/</span><span class="bottom">21</span></div> − <div class="frac"><span>14</span><span class="symbol">/</span><span class="bottom">21</span></div> = <div class="frac"><span>6</span><span class="symbol">/</span><span class="bottom">21</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">7</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.8 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">3</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>20</span><span class="symbol">/</span><span class="bottom">21</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 9</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.5 : <div class="frac"><span>9</span><span class="symbol">/</span><span class="bottom">16</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">2</span></div> : <div class="frac"><span>9</span><span class="symbol">/</span><span class="bottom">16</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>1</span><span class="symbol">/</span><span class="bottom">2</span></div> ∙ <div class="frac"><span>16</span><span class="symbol">/</span><span class="bottom">9</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>8</span><span class="symbol">/</span><span class="bottom">9</span></div> − <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">3</span></div> = <div class="frac"><span>8</span><span class="symbol">/</span><span class="bottom">9</span></div> − <div class="frac"><span>15</span><span class="symbol">/</span><span class="bottom">9</span></div> = <div class="frac"><span>-7</span><span class="symbol">/</span><span class="bottom">9</span></div> = <div class="frac"><span>-7</span><span class="symbol">/</span><span class="bottom">9</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.5 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 2. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>5</span><span class="symbol">/</span><span class="bottom">3</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>8</span><span class="symbol">/</span><span class="bottom">9</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table><h2>Příklad číslo: 10</h2><table class="table-fill"> <tbody class="tableBody"><tr><td colspan="2">0.4 : <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">25</span></div> + <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">2</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> : <div class="frac"><span>12</span><span class="symbol">/</span><span class="bottom">25</span></div> + <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">2</span></div> = <div class="frac"><span>2</span><span class="symbol">/</span><span class="bottom">5</span></div> ∙ <div class="frac"><span>25</span><span class="symbol">/</span><span class="bottom">12</span></div> + <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">2</span></div> = <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">12</span></div> + <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">2</span></div> = <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">12</span></div> + <div class="frac"><span>18</span><span class="symbol">/</span><span class="bottom">12</span></div> = <div class="frac"><span>28</span><span class="symbol">/</span><span class="bottom">12</span></div> = <div class="frac"><span>7</span><span class="symbol">/</span><span class="bottom">3</span></div></td></tr><tr><td>Krok 0:</td><td class="text-green text-left">Číslo 0.4 převeď na zlomek.</td></tr><tr><td>Krok 1:</td><td class="text-green text-left">Dělení dvou zlomků převeď na jejich násobení. (U pravého operandu prohoď čitatel se jmenovatelem.)</td></tr><tr><td>Krok 2:</td><td class="text-green text-left">V součinu zlomků vykrať násobek 5. A poté spočítej součin zbylých zlomků.</td></tr><tr><td>Krok 3:</td><td class="text-green text-left">Zlomek <div class="frac"><span>3</span><span class="symbol">/</span><span class="bottom">2</span></div> rozšiř tak, aby měl stejný jmenovatel jako zlomek <div class="frac"><span>10</span><span class="symbol">/</span><span class="bottom">12</span></div>.</td></tr><tr><td>Krok 4:</td><td class="text-green text-left">Sečti/odečti zlomky se stejným jmenovatelem.</td></tr><tr><td>Krok 5:</td><td class="text-green text-left">Ověř, že výsledek je zlomek v základním tvaru. Pokud ne, převeď ho na něj.</td></tr><tr><td>Krok 6:</td><td class="text-green text-left">Hotovo! 😎😎</td></tr></tbody></table></div>




	<style>

			#table-container {
				grid-area: main;
				margin-top: 30px;
			}

			.table-container {
				grid-area: main;
				margin-top: 30px;
			}

			.table-fill {
				table-layout: fixed;
				border-radius: 6px;
				border-collapse: collapse;
				margin-top: 30px;
				margin-bottom: 30px;
				padding: 5px;
				width: 100%;
				box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
				animation: float 5s infinite;
			}


			th {
				color: #D5DDE5;
				background: #0b0e14;
				border-bottom: 4px solid #9ea7af;
				border-right: 1px solid #343a45;
				font-size: 32px;
				font-weight: 500;
				padding: 24px;
				text-align: center;
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
				vertical-align: middle;
				min-height: 80px;
			}

				th:first-child {
					border-top-left-radius: 3px;
				}

				th.text-center {
					text-align: center;
					margin: 0;
					padding: 0;
				}

				th:last-child {
					border-top-right-radius: 3px;
					border-right: none;
				}

			tr {
				border-top: 1px solid #C1C3D1;
				border-bottom: 1px solid #C1C3D1;
				color: #666B85;
				color: #353535;
				font-size: 16px;
				font-weight: normal;
				text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
				background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.9) 10%, rgba(255, 255, 255, 0.99), rgba(255, 255, 255, 0.9) 90%, rgba(255, 255, 255, 0.8));
			}

				tr:hover td {
					background: #4E5066;
					background: #D2EFFA;
					/*  color: #FFFFFF;*/
					/*  border-top: 1px solid #22262e;*/
				}

				tr:first-child {
					border-top: none;
				}

				tr:last-child {
					border-bottom: none;
				}

				tr:nth-child(odd) td {
					background: rgba(0, 0, 0, 0.1);
				}

				tr:nth-child(odd):hover td {
					/*   background: #4E5066;*/
					background: #D2EFFA;
				}

				tr:last-child td:first-child {
					border-bottom-left-radius: 3px;
				}

				tr:last-child td:last-child {
					border-bottom-right-radius: 3px;
				}

			td {
				padding-left: 25px;
				padding-top: 12px;
				padding-bottom: 12px;
				text-align: left;
				vertical-align: middle;
				/*font-weight: 200;*/
				font-size: 20px;
				text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
				border-right: 1px solid #C1C3D1;
				height: 80px;
				text-align: center;
			}

				td:last-child {
					border-right: 0px;
				}

				td.text-center {
					text-align: center;
					margin: 0;
					padding: 0;
				}

				td.text-left {
					text-align: left;
					/*/ margin: 0;*/
					padding-right: 10px;
				}

				td.text-right {
					text-align: right;
				}

				td.text-left {
					text-align: left;
				}


			/* Styling of fractins: */
			.frac {
				display: inline-block;
				position: relative;
				vertical-align: middle;
				letter-spacing: 0.001em;
				text-align: center;
				font-family: 'Segoe UI', Verdana, Tahoma, Geneva, sans-serif;
				/*font-family: 'Caveat', cursive;
				font-family: 'Indie Flower', cursive;
		font-size: 20px*/
			}

				.frac > span {
					display: block;
					padding: 0.1em;
				}

				.frac span.bottom {
					border-top: solid #00006F;
				}

			td:hover > .frac span.bottom { /* css targetting master :D  #1E72BF*/
				border-top: solid #10FF1F;
			}

			.text-green > .frac span.bottom {
				border-top: solid #16C76A;
			}

			td.text-green:hover > .frac span.bottom { /* css targetting master :D */
				border-top: solid #1ED793;
			}

			.frac span.symbol {
				display: none;
			}

			/* color options */

			.text-green {
				color: #16C76A; /*#1EBF72;*/
				/*font-family: Verdna;*/
				font-weight: 500;
				/*  text-transform: uppercase;*/
			}

				.text-green:hover {
					color: #1ED793;
				}

			.text-blue {
				color: #1E72BF;
				/*font-family: Verdna;*/
				font-weight: 600;
				/*text-transform: uppercase;*/
				font-size: 24px;
			}

				.text-blue:hover {
					color: #1E93D7;
				}
	</style>