@page "/"

<h3>Vítej na cvičišti přijímacích zkoušek z matematiky!</h3>
<p>Přijímací zkoušky 4-letých středních škol mají 16 typově různých příkladů.</p>
<p>Pro každý typ příkladu jsme připravili: </p>
<ol >
	<li>Definice.</li>
	<li>Časté samostatné úpravy.</li>
	<li>Sborník 15 000 řešených příkladů. </li>
</ol>
<p >
	Celkem tedy 240 000 řešených příkladů s postupem. 🤔 Ve skutečnosti jich máme řešených s postupem miliony,
	ale nečekáme, že je kdokoli projde všechny, tak jsme do sborníku dali jen "menší" část.
	17tá kapitola je generátor celého testu, kterých je připravených víc než 20 000 kombinací. 😱
	Pro zdárné přijetí na střední školu tedy není potřeba procvičit všechny. 😅😎
</p>
<p >
	Každý příklad i celý test ti opravíme instantně na straně serveru. Tzn. do 300 milisekund vidíš ohodnocení.
</p>
<p>
	Zkouška má 2 geometrické úlohy - ty bohužel musí opravovat člověk.
	Namísto opravy ti ukážeme správné řešení s komentářem, které části obrázku jsou klíčové.
	Stejně tak u 3 úloh kde se získavají body za postup umí server ohodnotit jen výsledek. Oproti reálné přijímací zkoušce ti tak server oboduje výsledek a navíc ti zobrazí vzorový postup, který si můžeš porovnat s vlastním řešením.
</p>
<p >
	Pokud by jsi se chtěl/chtěla připravovat systematicky, je pro tebe připravená <span style="background-color: rgb(76, 255, 0); font-weight: 700; text-decoration: underline; ">učící cesta</span>, která tě provede všemi materiály postupně.
	Začíná celým testem, po kterém si budeš moct vybrat, jestli si budeš chtít procvičit jen ty příklady, které ti nešli (jsi-li ve spěchu  ⌚)
	nebo postupně všechny příklady s logickou návazností (máš-li času dostatek 🙏).
</p>
