@page "/"


<p>Vítej na cvičišti na přijímací zkoušky z matematiky 4-letých středních škol.</p>
<p>Přijímací zkoušky sestávají z typově 16 různých příkladů. Každý typ příkladu má rozepsané: </p>
<ol>
	<li>Definice.</li>
	<li>Časté samostatné úpravy.</li>
	<li>Sborník 15 000 řešených příkladů (ke každému typu). </li>
</ol>
<p>
	Celkem tedy 240 000 řešených příkladů s postupem. Ve skutečnosti jich máme řešených s postupem miliony, 
	ale nechtěli jsme zbytečně zatížit internet. 17tá kapitola je generátor celého testu, těch máme víc jak miliardu kombinací, 
	takže pro zdárné přijetí na střední asi není potřeba procvičit všechny.
</p>
<p>
	Pokud by jsi se chtěl/chtěla připravovat systematicky, je pro tebe připravená <span style="background-color: rgb(76, 255, 0); font-weight: 700; text-decoration: underline; ">učící cesta</span>, která tě provede všemi materiály postupně. 
	Začíná celým testem, po kterém si budeš moct vybrat, jestli si budeš chtít procvičit jen ty příklady, které ti nešli (jsi-li ve spěchu) 
	nebo postupně všechny příklady s logickou návazností (máš-li času dostatek).
</p>
